/* login.module.css */
.contact {
    position: relative;
  }
  
  .contact img {
    height: 50vh;
    width: 100%;
    object-fit: cover;
  }
  
  .login_form {
    background: #f0f8ff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: -20px;
  }
  
  .login_form h6 {
    font-size: 24px;
    margin: 20px 0;
    font-weight: 600;
    text-align: center;
    color: #2a2dff;
  }
  
  .login_form .form-group {
    margin-bottom: 15px;
  }
  
  .login_form .form-group label {
    color: #1e90ff;
  }
  
  .login_form .form-group input {
    border: 2px solid #1e90ff;
    border-radius: 10px;
    padding: 10px;
  }
  
  .login_form .btn {
    background-color: #5947ff;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 1%;
    margin-right: 39%;
  }
  
  .login_form .btn:hover {
    background-color: #06006f;
  }
  
  .login_form .btn-secondary {
    background-color: #87cefa;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login_form .btn-secondary:hover {
    background-color: #00bfff;
  }
  
  @media (max-width: 768px) {
    .contact img {
      height: 30vh;
    }
  
    .login_form {
      padding: 15px;
    }
  }
  