.logo {
    color: #8cff00; /* Correspondiente a text-green */
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    /* letter-spacing: 0.1rem; */
    font-family: "Poppins", sans-serif;
    background: linear-gradient(90deg, #000000 0%, #0015ff 100%);
    /* background-color: #ff00f7; */
    padding: 0.5rem;
    border-radius: 100%;

  }