.linkStyle {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
  padding: 0px 20px;
  border-radius: 5px;
  margin: 0px;
  background-color: #fff;
}
.linkStyle:hover {
  color: white;
  background-color: rgb(176, 176, 176);
  font-size: 20px;
}
