.courseContainer {
    margin-top: 60px;
    padding: 20px;
    background-color: #f0f8ff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .courseContainer img {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    margin-bottom: 20px;
    left: auto;
    right: auto;
  }
  
  .courseContainer h1 {
    font-size: 36px;
    color: #3a63f9;
    margin-bottom: 10px;
  }
  
  .courseContainer h2 {
    font-size: 24px;
    color: #1e90ff;
    margin-bottom: 20px;
  }
  
  .courseContainer p {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .courseContainer .details {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .courseContainer .btn {
    background-color: #5238ff;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .courseContainer .btn:hover {
    background-color: #090057;
  }
  